.projects{
    background: rgb(39, 32, 58);
    margin: 0;
    padding: 0;
    color: aliceblue;
}

.shadow{
  position: relative;
  width: 200px;
  height: 200px;
  background: linear-gradient(0deg,#000,#262626);
}
