body {
    font-family: "Poppins", sans-serif;
}

header{
    position: relative;
    z-index: 10000000;
}

h2{
    font-weight: bold;
  }
  
p{
    font-size: 1.35rem;
}

.video{
    height: 90vh;
}
